<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="adBoardMapper">
  
  <!-- 공지사항 디비 -->

<resultMap type="Notice" id="adNoticeResultSet">
	<id column="NOTICE_NO" property="noticeNo"/>
		<result column="NOTICE_TITLE" property="noticeTitle"/>
		<result column="NOTICE_CONTENT" property="noticeContent"/>
		<result column="ENROLL_DATE" property="enrollDate"/>
		<result column="STATUS" property="status"/>
</resultMap>

<resultMap type="Event" id="adEventResultSet" >
		<id column="EVENT_NO" property="eventNo"/>
		<result column="EVENT_TITLE" property="eventTitle"/>
		<result column="EVENT_OPEN_TIME" property="eventOpenTime"/>
		<result column="EVENT_CLOSE_TIME" property="eventCloseTime"/>
		<result column="EVENT_REGISTER_DATE" property="eventRegisterDate"/>
		<result column="EVENT_STATUS" property="eventStatus"/>
		<result column="CHANGE_NAME" property="changeName"/>
</resultMap>
  
  <!-- 공지사항 리스트조회 -->
  <select id ="selectNotice" resultMap="adNoticeResultSet">
  SELECT NOTICE_NO,NOTICE_TITLE,ENROLL_DATE,STATUS
  FROM NOTICE
  WHERE STATUS='Y'
  </select>
  
  <!--공지사항 상세페이지  -->
  <select id="selectNoDetail" resultMap="adNoticeResultSet">
  SELECT  NOTICE_NO,NOTICE_TITLE,ENROLL_DATE,NOTICE_CONTENT
  FROM NOTICE
  WHERE NOTICE_NO =#{bno}
  </select>
  
 	<!--공지사항 수정용  -->
 	<update id="updateAdNotice" parameterType="Notice">
 	UPDATE NOTICE
 	   SET NOTICE_TITLE =#{noticeTitle},
 		   NOTICE_CONTENT =#{noticeContent},
 		   ENROLL_DATE =sysdate
	WHERE NOTICE_NO =#{noticeNo}
 	</update>
 	
 	<!-- 공지사항 삭제요 -->
 	<delete id="deleteAdNotice" parameterType="_int">
 	UPDATE NOTICE
 	   SET STATUS='N'
   WHERE NOTICE_NO =#{noticeNo}
 	</delete>
 	
 	<!-- 공지사항 등록용 -->
 	<insert id="insertAdNotice">
 	INSERT INTO NOTICE
 	VALUES (SEQ_NOTICE.NEXTVAL, #{noticeTitle}, #{noticeContent}, sysdate, 'Y')
 	</insert>
 	
 	<!-- 이벤트 리스트 조회 -->
 	<select id="selectEvent" resultMap="adEventResultSet">
	 	SELECT EVENT_NO, EVENT_TITLE, EVENT_OPEN_TIME, EVENT_CLOSE_TIME, EVENT_REGISTER_DATE, EVENT_STATUS
	 	  FROM EVENT
	 	 WHERE  EVENT_STATUS='Y'
 	</select>
 	
 	<!-- 이벤트 상세페이지 조회 -->
 	<select id="adSelectEvent" parameterType="_int" resultMap="adEventResultSet">
	 	SELECT EVENT_TITLE, EVENT_OPEN_TIME, EVENT_CLOSE_TIME, CHANGE_NAME
	 	  FROM EVENT
	 	  JOIN ATTACHMENT ON(EVENT_NO=REF_BNO)
	 	 WHERE GROUP_CATEGORY = 2
	 	   AND FILE_LEVEL = 2
	 	   AND EVENT_NO = #{eno}
 	</select>
 	
 	<!-- 이벤트 등록 -->
	<insert id="insertAdEvent" parameterType="Event">
 		INSERT INTO EVENT
 		VALUES(SEQ_EVENT.NEXTVAL, #{eventTitle}, #{eventOpenTime}, #{eventCloseTime}, SYSDATE, 'Y')
 	</insert>
 	
 	 
 	 <insert id="insertAttachment" parameterType="Attachment">
 		insert into attachment 
 		values(SEQ_ATTACHMENT.nextval,2,SEQ_EVENT.currval,#{changeName},sysdate,#{fileLevel},'Y')
 	</insert>
 	
 	
 	<!-- 이벤트 수정 -->
 	<update id="updateAdEvent" parameterType="Event">
 		UPDATE EVENT
		   SET EVENT_TITLE = #{eventTitle},
		       EVENT_REGISTER_DATE = SYSDATE
		 WHERE EVENT_NO = #{eno} 		
 	</update>
 	
 	<update id="updateAttachment" parameterType="Attachment">
 		UPDATE ATTACHMENT
		   SET CAHNGE_NAME = #{chagneName}
		 WHERE REF_BNO = #{eno} 		
 	</update>
 	
 	<update id="deleteAdEvent" parameterType="_int">
 		UPDATE EVENT
 		   SET EVENT_STATUS= 'N'
 		 WHERE EVENT_NO = #{eno} 
 	</update>
</mapper>
