<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="adGroupsMapper">

<!-- 소모임 디비 -->
<resultMap type="Groups" id="adGroupsResultSet">
	<id column="GROUP_NO" property="groupNo"/>
		<result column="LEADER_NO" property="leaderNo"/>
		<result column="GROUP_TITLE" property="groupTitle"/>
		<result column="GROUP_SUBTITLE" property="groupSubtitle"/>
		<result column="GROUP_CATEGORY" property="groupCategory"/>
		<result column="PLACE" property="place"/>
		<result column="GRADE_LIMIT" property="gradeLimit"/>
		<result column="MEMBER_LIMIT" property="memberLimit"/>
		<result column="STATUS" property="status"/>
		<result column="START_DATE" property="startDate"/>
		<result column="END_DATE" property="endDate"/>
</resultMap>

<!-- 소모임 공지사항 디비 -->
<resultMap type="GroupNotice" id="adGroupsNoticeResultSet">
	<id column="GNOTICE_NO" property="gnoticeNo"/>
		<result column="GROUP_NO" property="groupNo"/>
		<result column="GNOTICE_TITLE" property="gnoticeTitle"/>
		<result column="GNOTICE_CONTENT" property="gnoticeContent"/>
		<result column="ENROLL_DATE" property="enrollDate"/>
		<result column="STATUS" property="status"/>
		<result column="GROUP_TITLE" property="groupTitle"/>
</resultMap>
	<!--댓글  -->
	<resultMap type="Reply" id="adReplyResultSet">
		<id column="REPLY_NO" property="replyNo"/>
		<result column="REPLY_CONTENT" property="replyContent"/>
		<result column="NOTICE_NO" property="noticeNo"/>
		<result column="USER_NO" property="userNo"/>
		<result column="UPLOAD_DATE" property="uploadDate"/>
		<result column="STATUS" property="status"/>
	</resultMap>
	<!-- 회원 -->	
	<resultMap type="Member" id="adMemberResultSet">
		<id column="USER_NO" property="userNo"/>
		<result column="USER_ID" property="userId"/>
		<result column="USER_NAME" property="userName"/>
		<result column="BIRTHDAY" property="birthday"/>
		<result column="PHONE" property="phone"/>
		<result column="ENROLL_DATE" property="enrollDate"/>
		<result column="MODIFY_DATE" property="modifyDate"/>
		<result column="BLACKLIST" property="blacklist"/>
		<result column="STATUS" property="status"/>
		<result column="DROP_DATE" property="dropDate"/>
		<result column="LAST_YEAR_USAGE" property="lastYearUsage"/>
		<result column="THIS_YEAR_USAGE" property="thisYearUsage"/>
		<result column="GRADE_NAME" property="gradeName"/>
		<result column="REDCARD" property="redCard"/>
	</resultMap>


	<!--소모임조회 게시글리스트 하나하나 불러오는sql -->
	<select id="selectGroups" resultMap="adGroupsResultSet">
		SELECT GROUP_NO, GROUP_CATEGORY, GROUP_TITLE, PLACE, 
			   GRADE_LIMIT, LEADER_NO,MEMBER_LIMIT,
			   START_DATE,END_DATE,STATUS
		  FROM GROUPS
	</select>
	
	<!-- 소모임 조회 모달에서 소모임정보 수정 -->
	<update id="updateGrMgmt" parameterType="Groups">
		UPDATE GROUPS
		   SET GROUP_NO =#{groupNo},
		   	   GROUP_TITLE =#{groupTitle},
		   	   LEADER_NO =#{leaderNo},
			   GROUP_CATEGORY =#{groupCategory},
			   START_DATE =#{startDate},
			   END_DATE =#{endDate},
			   PLACE =#{place},
			   MEMBER_LIMIT =#{memberLimit},
			   STATUS =#{status}
	   	 WHERE GROUP_NO =#{groupNo}
	</update>
	
	<!-- 소모임 조회 모달에서 소모임 삭제 -->
	<update id="deleteGrMgmt" parameterType="_int">
		UPDATE GROUPS
		   SET STATUS = 'N'
		 WHERE GROUP_NO = #{grNo} 
	</update>
	
	
	
	
	
	<!--소모임개설 게시글리스트 하나하나 불러오는sql -->
	<select id="selectGrConfirm" resultMap="adGroupsResultSet">
		SELECT GROUP_NO, GROUP_CATEGORY, GROUP_TITLE,
			   GROUP_SUBTITLE, PLACE, MEMBER_LIMIT,
			   START_DATE, END_DATE, STATUS
		  FROM GROUPS
		 WHERE STATUS='U'
	</select>
	
	<!-- 소모임 개설 수락하기 -->
	<update id="acceptGroups" parameterType="HashMap" >
		UPDATE GROUPS
		   SET STATUS = 'Y'
		 WHERE  GROUP_NO IN
		  <foreach collection="array" item="type"  open="(" close=")" separator=",">
           #{type}
        </foreach>
	</update>
	
	<!-- 소모임 개설 거절하기 -->
	<update id="rejectionGroups" parameterType="HashMap" >
		UPDATE GROUPS
		   SET STATUS = 'N'
		 WHERE  GROUP_NO IN
		  <foreach collection="array" item="type"  open="(" close=")" separator=",">
           #{type}
        </foreach>
	</update>
	
	<!-- 소모임 공지사항 게시판 리스트 -->
	<select id="selectGrBoard" resultMap="adGroupsNoticeResultSet" >
	SELECT N.GNOTICE_NO, G.GROUP_TITLE, N.GNOTICE_TITLE, N.ENROLL_DATE, N.STATUS
	FROM GROUP_NOTICE N
	JOIN GROUPS G USING(GROUP_NO)
	</select>
	
	<select id="selectGrNoBoard" resultMap="adGroupsNoticeResultSet" >
	 SELECT GNOTICE_NO,GNOTICE_TITLE,GNOTICE_CONTENT
	  FROM GROUP_NOTICE
	  WHERE GNOTICE_NO =#{gno}
	</select>
	
	<!-- 댓글 리스트 조회 -->
<select id="selectAdReplyList" parameterType="_int" resultMap="adReplyResultSet">
	SELECT M.USER_NAME, R.REPLY_CONTENT,R.UPLOAD_DATE
	FROM REPLY R
	JOIN MEMBER M USING(USER_NO)
	where NOTICE_NO =#{gno}
	</select>
	
	
</mapper>
