<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="adMemberMapper">
	<resultMap type="Member" id="adMemberResultSet">
		<id column="USER_NO" property="userNo"/>
		<result column="USER_ID" property="userId"/>
		<result column="USER_NAME" property="userName"/>
		<result column="BIRTHDAY" property="birthday"/>
		<result column="PHONE" property="phone"/>
		<result column="ENROLL_DATE" property="enrollDate"/>
		<result column="MODIFY_DATE" property="modifyDate"/>
		<result column="BLACKLIST" property="blacklist"/>
		<result column="STATUS" property="status"/>
		<result column="DROP_DATE" property="dropDate"/>
		<result column="LAST_YEAR_USAGE" property="lastYearUsage"/>
		<result column="THIS_YEAR_USAGE" property="thisYearUsage"/>
		<result column="GRADE_NAME" property="gradeName"/>
		<result column="REDCARD" property="redCard"/>
	</resultMap>
	
	<resultMap type="Grade" id="adGradeResultSet">
		<id column="GRADE_CODE" property="gradeCode"/>
		<result column="GRADE_NAME" property="gradeName"/>
		<result column="STANDARD" property="standard"/>
		<result column="DISCOUNT" property="discount"/>
	</resultMap>
	
	<resultMap type="Report" id="adReportResultSet">
		<id column="REPORT_NO" property="reportNo"/>
		<result column="REPLY_NO" property="replyNo"/>
		<result column="REPORTER_NO" property="reporterNo"/>
		<result column="REPORT_CONTENT" property="reportContent"/>
		<result column="REPORT_DATE" property="reportDate"/>
		<result column="STATUS" property="status"/>
		<result column="REDCARD" property="redcard"/>
		<result column="USER_ID" property="reporterId"/>
		<result column="REPLY_WRITER" property="replyWriter"/>
	</resultMap>
	
	<resultMap type="GradeDto" id="adGradeCountResultSet">
		<result column="GRADE_CODE" property="gradeCode"/>
		<result column="GRADE_COUNT" property="gradeCount"/>
	</resultMap>
	
	<select id="selectMember" resultMap="adMemberResultSet" parameterType="string">
		SELECT M.USER_NO, M.USER_NAME, M.STATUS, M.USER_ID, M.BIRTHDAY, M.PHONE, G.GRADE_NAME, M.ENROLL_DATE
		  FROM MEMBER M
		  JOIN GRADE G USING(GRADE_CODE)
	  	 WHERE USER_ID != 'admin@naver.com'
			   AND USER_NO != 0
		 <if test='selNo != null and selNo != "0" '>
		       AND M.STATUS = #{selNo}
	     </if>
	</select>
	
	<select id="selectGrade" resultMap="adGradeResultSet">
		SELECT *
		  FROM GRADE
	  	 WHERE GRADE_CODE != 0 
	</select>
	
	<update id="deleteMember" parameterType="_int">
		UPDATE MEMBER
		   SET STATUS = 'N', LEAVE_REASON = '관리자 권한 탈퇴처리'
		 WHERE USER_NO = #{userNo} 
	</update>
	
	<update id="updateMember" parameterType="Member">
		UPDATE MEMBER
	       SET USER_NAME = #{userName},
               GRADE_CODE = (SELECT GRADE_CODE
		 					 FROM GRADE
		 					 WHERE GRADE_NAME = #{gradeName}),
               BIRTHDAY = #{birthday},
               PHONE = #{phone}
		 WHERE USER_ID = #{userId}
	</update>
	
	<select id="selectBlacklist" resultMap="adMemberResultSet">
		SELECT * 
		  FROM MEMBER
		 WHERE BLACKLIST = 'Y'
	</select>
	
	<select id="selectReport" resultMap="adReportResultSet" parameterType="string">
		SELECT REPORT_NO, REPLY_NO, USER_ID REPLY_WRITER,  R.REPORT_CONTENT, RE.NOTICE_NO, 
		       REPORT_DATE, R.STATUS, M.REDCARD, (SELECT USER_ID 
                                                  FROM MEMBER 
                                                  WHERE USER_NO = R.REPORTER_NO) USER_ID
		FROM REPORT R
		JOIN REPLY RE USING(REPLY_NO)
		JOIN MEMBER M USING (USER_NO)
		<if test='selNo != null and selNo != "0" '>
		       WHERE R.STATUS = #{selNo}
	     </if>
	</select>
	
	<update id="updateMemberReport" parameterType="Member">
		UPDATE MEMBER
		<set>
			<if test="redCard >= 2">
       		   BLACKLIST = 'Y',
               STATUS = 'N',
               LEAVE_REASON = '블랙리스트 회원',
               DROP_DATE = SYSDATE,
			</if>
			REDCARD = REDCARD + 1
		</set>
		WHERE USER_ID = #{userId}
	</update>
	
	<update id="updateReport" parameterType="Member">
		UPDATE REPORT
		   <set>
		   		<choose>
		   			<when test="reportStatus == 2">
		   				STATUS = 'Y'
		   			</when>
		   			<when test="reportStatus == 3">
		   				STATUS = 'N'
		   			</when>
		   		</choose>
		   </set>
	    WHERE REPLY_NO = (SELECT REPLY_NO
						  FROM REPORT R
				    	  JOIN REPLY RE USING(REPLY_NO)
						  JOIN MEMBER M USING(USER_NO)
						  WHERE USER_ID = #{userId})
	</update>
	
	<update id="updateReply" parameterType="_int">
		UPDATE REPLY
	       SET STATUS = 'C'
		 WHERE REPLY_NO = (SELECT REPLY_NO
                             FROM REPORT
                            WHERE REPORT_NO = #{reportNo})
	</update>
	
	<select id="countGrade" resultMap="adGradeCountResultSet">
		SELECT GRADE_CODE, COUNT(*) GRADE_COUNT
		  FROM MEMBER M
		  JOIN GRADE G USING(GRADE_CODE)
		 WHERE GRADE_CODE != 0
		 GROUP BY GRADE_CODE
		 ORDER BY GRADE_CODE
	</select>
	
	<update id="updateGrade" parameterType="Grade">
			UPDATE GRADE
			   SET GRADE_NAME= #{gradeName}, STANDARD= #{standard}, DISCOUNT=#{discount}
		 	 WHERE GRADE_CODE = #{gradeCode}
	</update>
</mapper>
