<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="adMemberMapper">
	<resultMap type="Member" id="adMemberResultSet">
		<id column="USER_NO" property="userNo"/>
		<result column="USER_ID" property="userId"/>
		<result column="USER_NAME" property="userName"/>
		<result column="BIRTHDAY" property="birthday"/>
		<result column="PHONE" property="phone"/>
		<result column="ENROLL_DATE" property="enrollDate"/>
		<result column="MODIFY_DATE" property="modifyDate"/>
		<result column="BLACKLIST" property="blacklist"/>
		<result column="STATUS" property="status"/>
		<result column="DROP_DATE" property="dropDate"/>
		<result column="LAST_YEAR_USAGE" property="lastYearUsage"/>
		<result column="THIS_YEAR_USAGE" property="thisYearUsage"/>
		<result column="GRADE_NAME" property="gradeName"/>
		<result column="REDCARD" property="redCard"/>
	</resultMap>
	
	<resultMap type="Grade" id="adGradeResultSet">
		<id column="GRADE_CODE" property="gradeCode"/>
		<result column="GRADE_NAME" property="gradeName"/>
		<result column="STANDARD" property="standard"/>
		<result column="DISCOUNT" property="discount"/>
	</resultMap>
	
	<select id="selectMember" resultMap="adMemberResultSet">
		SELECT M.USER_NO, M.USER_NAME, M.STATUS, M.USER_ID, M.BIRTHDAY, M.PHONE, G.GRADE_NAME, M.ENROLL_DATE
		FROM MEMBER M
		JOIN GRADE G USING(GRADE_CODE)
		WHERE USER_ID != 'admin@naver.com'
	</select>
	
	<select id="selectGrade" resultMap="adGradeResultSet">
		SELECT *
		  FROM GRADE
	  	 WHERE GRADE_CODE != 0 
	</select>
	
	<update id="deleteMember" parameterType="_int">
		UPDATE MEMBER
		   SET STATUS = 'N', LEAVE_REASON = '관리자 권한 탈퇴처리'
		 WHERE USER_NO = #{userNo} 
	</update>
	
	<update id="updateMember" parameterType="Member">
		UPDATE MEMBER
	       SET USER_NAME = #{userName},
               GRADE_CODE = (SELECT GRADE_CODE
		 					 FROM GRADE
		 					 WHERE GRADE_NAME = #{gradeName}),
               BIRTHDAY = #{birthday},
               PHONE = #{phone}
		 WHERE USER_ID = #{userId}
	</update>
</mapper>
