<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="csMapper">
	<resultMap id="noticeResultSet" type="Notice">
	<id column="NOTICE_NO" property="noticeNo"/>
	<result column="NOTICE_TITLE" property="noticeTitle"/>
	<result column="NOTICE_CONTENT" property="noticeContent"/>
	<result column="ENROLL_DATE" property="enrollDate"/>
	<result column="STATUS" property="status"/>
	</resultMap>
	
	<resultMap id="qnaResultSet" type="Qna">
		<id column="QNA_NO" property="qnaNo"/>
		<result column="MEMBER_YN" property="memberYn"/>
		<result column="USER_NAME" property="userName"/>
		<result column="EMAIL" property="email"/>
		<result column="USER_NO" property="userNo"/>
		<result column="QNA_TITLE" property="qnaTitle"/>
		<result column="QNA_CONTENT" property="qnaContent"/>
		<result column="QNA_DATE" property="qnaDate"/>
		<result column="QNA_REPLY" property="qnaReply"/>
		<result column="ORIGIN_NAME" property="originName"/>
		<result column="CHANGE_NAME" property="changeName"/>
		<result column="STATUS" property="status"/>
	</resultMap>

	<resultMap id="eventResultSet" type="Event">
		<id column="EVENT_NO" property="eventNo"/>
		<result column="EVENT_TITLE" property="eventTitle"/>
		<result column="EVENT_OPEN_TIME" property="eventOpenTime"/>
		<result column="EVENT_CLOSE_TIME" property="eventCloseTime"/>
		<result column="EVENT_REGISTER_DATE" property="eventRegisterDate"/>
		<result column="EVENT_STATUS" property="eventStatus"/>
		<result column="CHANGE_NAME" property="changeName"/>
	</resultMap>
	
	<select id="selectListCount" resultType="_int">
		select count(*)
		  from notice
		 where status='Y'
	</select>
	
	<select id="selectList" resultMap="noticeResultSet">
		select * 
		  from notice
		 where status='Y'
		 order by notice_no asc
	</select>
	
	<select id="selectNotice" parameterType="_int" resultMap="noticeResultSet">
		select *
		  from notice
		 where notice_no=#{nno}
	</select>
	
	<insert id="insertNonMemberInquiry" parameterType="Qna">
		insert into qna
		values(seq_qna.nextval, 'N', #{userName}, #{email}, #{userNo},
		       #{qnaTitle}, #{qnaContent}, SYSDATE ,  NULL , #{originName}, #{changeName}, '0') 
	</insert>
	
	<insert id="insertMemberInquiry" parameterType="Qna">
		insert into qna
		values(seq_qna.nextval, 'Y' , #{userName}, #{email}, #{userNo},
		       #{qnaTitle}, #{qnaContent}, SYSYDATE ,  NULL , #{originName}, #{changeName}, '0') 
	</insert>
	
	<select id="qselectListCount" resultType="_int">
		SELECT count(*)
		 FROM QNA
    </select>	
    
    <select id="qselectList" parameterType="Member" resultMap="qnaResultSet">
		SELECT *
		 FROM QNA
		WHERE USER_NO=#{userNo}
		AND STATUS='O'
		 ORDER BY QNA_NO DESC 
	</select>
	
	<select id="selectQna" parameterType="_int" resultMap="qnaResultSet">
		SELECT *
		 FROM QNA
		WHERE QNA_NO=#{qno}
	</select>
   
   	<update id="deleteQna" parameterType="_int">
   		update QNA
   			set STATUS='N'
   				WHERE QNA_NO=#{qno}
   	</update>
	
	<update id="updateQna" parameterType="Qna">
		update QNA
			set QNA_TITLE=#{qnaTitle}, 
				QNA_CONTENT=#{qnaContent}
		where QNA_NO=#{qnaNo}
	</update>
	
	<select id="selectEventList" resultMap="eventResultSet">
		select event_no, event_title, event_open_time, event_close_time, event_status, change_name, file_level, group_category
		  from event 
		  join attachment on(event_no=ref_bno)
		 where file_level = 1 
		   and group_category = 2
	</select>
	
	<select id="selectEvent" resultMap="eventResultSet">
		select event_no, event_status, event_title, event_open_time, event_close_time, group_category, change_name, file_level
		  from event 
		  join attachment on(event_no=ref_bno)
		 where group_category = 2
		   and file_level = 2
		   and event_no = #{eno} and event_status='Y'
		   order by event_no desc
	</select>
</mapper>
