<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="groupsMapper">

	<resultMap id="groupResultSet" type="Groups">
		<id column="GROUP_NO" property="groupNo"/>
		<result column="LEADER_NO" property="leaderNo"/>
		<result column="GROUP_TITLE" property="groupTitle"/>
		<result column="GROUP_SUBTITLE" property="groupSubtitle"/>
		<result column="GROUP_CONTENT" property="groupContent"/>
		<result column="GROUP_CATEGORY" property="groupCategory"/>
		<result column="PLACE" property="place"/>
		<result column="GRADE_LIMIT" property="gradeLimit"/>
		<result column="MEMBER_LIMIT" property="memberLimit"/>
		<result column="STATUS" property="status"/>
		<result column="START_DATE" property="startDate"/>
		<result column="END_DATE" property="endDate"/>
	</resultMap>



	<select id="selectGroupListCount" resultType="_int">
		SELECT COUNT(*)
		FROM GROUPS
		WHERE STATUS='Y'
	</select>

	
	<!-- 리스트조회 함께 사용 -->
	<select id="selectGroupList" resultMap="groupResultSet" parameterType="GroupDto">
		SELECT G.*, M.USER_NO
		  FROM GROUPS G
		  JOIN MEMBER M ON(LEADER_NO = USER_NO)
		<where>
			USER_NO=#{userNo}
			<if test='status!=null'>
				AND G.STATUS=#{status}
			</if>
		</where>
		ORDER BY START_DATE DESC
	</select>

	<!-- 
	<select id="selectGroupThumbnailList" resultMap="groupResultSet">
		sql문 다시 짜기. 소그룹 번호에 해당하는 섬네일 호출해오기
		SELECT
		FROM ATTACHMENT
		WHERE REF_BNO
	</select>
	-->
	
	<select id="selectGroup" parameterType="_int" resultMap="groupResultSet">
		SELECT *
		  FROM GROUPS
		 WHERE GROUP_NO=#{gno}
	</select>
	
	<select id="countDips" parameterType="Dips" resultType="_int">
		SELECT COUNT(*)
		  FROM DIPS
		 WHERE USER_NO = #{userNo}
		       AND GROUP_NO = #{groupNo}
	</select>
	
	
	
	
	<resultMap id="groupNoticeResultSet" type="GroupNotice">
		<id column="GNOTICE_NO" property="gnoticeNo"/>
		<result column="GROUP_NO" property="groupNo"/>
		<result column="GNOTICE_TITLE" property="gnoticeTitle"/>
		<result column="GNOTICE_CONTENT" property="gnoticeContent"/>
		<result column="ENROLL_DATE" property="enrollDate"/>
		<result column="STATUS" property="status"/>
	</resultMap>
	
	<select id="selectGroupNoticeListCount" resultType="_int">
		SELECT COUNT(*)
		FROM GROUP_NOTICE
		WHERE STATUS='Y'
	</select>
	

	<select id="selectGroupNoticeList" resultMap="groupNoticeResultSet">
		SELECT *
		FROM GROUP_NOTICE
		WHERE STATUS='Y'
		ORDER BY GNOTICE_NO DESC
	</select>
	
	<select id="selectGroupNotice" parameterType="_int" resultMap="groupNoticeResultSet">
		SELECT *
		  FROM GROUPS
		 WHERE GROUPS_NO=#{gnno}
	</select>

	
	
	
	
</mapper>
