<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="groupsMapper">

	<resultMap id="groupResultSet" type="Groups">
		<id column="GROUP_NO" property="groupNo"/>
		<result column="LEADER_NO" property="leaderNo"/>
		<result column="GROUP_TITLE" property="groupTitle"/>
		<result column="GROUP_SUBTITLE" property="groupSubtitle"/>
		<result column="GROUP_CONTENT" property="groupContent"/>
		<result column="GROUP_CATEGORY" property="groupCategory"/>
		<result column="PLACE" property="place"/>
		<result column="GRADE_LIMIT" property="gradeLimit"/>
		<result column="MEMBER_LIMIT" property="memberLimit"/>
		<result column="STATUS" property="status"/>
		<result column="START_DATE" property="startDate"/>
		<result column="END_DATE" property="endDate"/>
	</resultMap>



	<select id="selectGroupListCount" resultType="_int">
		SELECT COUNT(*)
		FROM GROUPS
		WHERE STATUS='Y'
	</select>

	<!-- 소모임 리스트 조회 - 메인메뉴바 -->
	<select id="selectGroupListAll" resultMap="groupResultSet" parameterType="GroupDto">
		SELECT *
		  FROM GROUPS
		 WHERE STATUS='Y'
		 ORDER BY START_DATE DESC
	</select>
	
	<!-- 소모임 리스트 조회 - 마이페이지 3가지 -->
	<select id="selectGroupList" resultMap="groupResultSet" parameterType="GroupDto">
		SELECT G.*, M.USER_NO
		FROM GROUPS G
		JOIN MEMBER M ON(LEADER_NO = USER_NO)
		<where>
			<if test='status!=null'>
	            USER_NO=#{userNo}
	            AND G.STATUS=#{status}
			</if>
		</where>
		ORDER BY START_DATE DESC
	</select>
	
	<!-- 경택이가 해준거 -->
	
	<select id="selectGroup" parameterType="_int" resultMap="groupResultSet">
		SELECT *
		  FROM GROUPS
		 WHERE GROUP_NO=#{gno}
	</select>





	
	<resultMap type="Dips" id="dipsResultSet">
		<id column="GROUP_NO" property="groupNo"/>
		<result column="USER_NO" property="userNo"/>
	</resultMap>

	<!-- 찜한 소모임 리스트 조회 -->
	<select id="selectDipsList" parameterType="Dips" resultType="_int">
		SELECT COUNT(*)
		  FROM DIPS
		 WHERE USER_NO = #{userNo} AND GROUP_NO = #{groupNo}
	</select>
	
	<!-- 찜한 소모임 리스트 출력용 조회 -->
	<select id="selectDips" parameterType="_int" resultMap="dipsResultSet">
		SELECT *
		  FROM DIPS
		 WHERE USER_NO = #{userNo}
	</select>
	
	<insert id="dipsIn" parameterType="_int">
		INSERT INTO DIPS
		VALUES( #{userNo}, #{groupNo})
	</insert>
	
	<delete id="dipsOut" parameterType="_int">
		DELETE FROM DIPS
		WHERE USER_NO=#{userNo} AND GROUP_NO=#{groupNo}
	</delete>
	
	
	
	
	<resultMap id="groupNoticeResultSet" type="GroupNotice">
		<id column="GNOTICE_NO" property="gnoticeNo"/>
		<result column="GROUP_NO" property="groupNo"/>
		<result column="GNOTICE_TITLE" property="gnoticeTitle"/>
		<result column="GNOTICE_CONTENT" property="gnoticeContent"/>
		<result column="ENROLL_DATE" property="enrollDate"/>
		<result column="STATUS" property="status"/>
	</resultMap>
	
	<select id="selectGroupNoticeListCount" resultType="_int">
		SELECT COUNT(*)
		FROM GROUP_NOTICE
		WHERE STATUS='Y'
	</select>
	

	<select id="selectGroupNoticeList" resultMap="groupNoticeResultSet">
		SELECT *
		FROM GROUP_NOTICE
		WHERE STATUS='Y'
		ORDER BY GNOTICE_NO DESC
	</select>
	
	<select id="selectGroupNotice" parameterType="_int" resultMap="groupNoticeResultSet">
		SELECT *
		  FROM GROUPS
		 WHERE GROUPS_NO=#{gnno}
	</select>
	
 	<!-- 공지사항 등록용 -->
 	<insert id="insertGroupNotice">
	 	INSERT INTO GROUP_NOTICE
	 	VALUES (SEQ_GNOTICE.NEXTVAL, #{gnoticeNo}, #{groupNo}, #{gnoticeTitle}, #{gnoticeContent}, sysdate, 'Y')
 	</insert>

	
	
	
	
</mapper>
