<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="groupsMapper">

	<resultMap id="groupResultSet" type="Groups">
		<id column="GROUP_NO" property="groupNo"/>
		<result column="LEADER_NO" property="leaderNo"/>
		<result column="GROUP_TITLE" property="groupTitle"/>
		<result column="GROUP_SUBTITLE" property="groupSubtitle"/>
		<result column="GROUP_CONTENT" property="groupContent"/>
		<result column="GROUP_CATEGORY" property="groupCategory"/>
		<result column="PLACE" property="place"/>
		<result column="GRADE_LIMIT" property="gradeLimit"/>
		<result column="MEMBER_LIMIT" property="memberLimit"/>
		<result column="STATUS" property="status"/>
		<result column="START_DATE" property="startDate"/>
		<result column="END_DATE" property="endDate"/>
		<result column="CHANGE_NAME" property="changeName"/>
	</resultMap>

	<select id="selectGroupListCount" parameterType="GroupDto" resultType="_int">
		SELECT COUNT(*)
		FROM GROUPS
		WHERE STATUS='Y'
	</select>
	
	<insert id="insertGroup" parameterType="Groups">
		INSERT INTO GROUPS
		VALUES(SEQ_GROUPS.NEXTVAL, #{leaderNo}, #{groupTitle}, #{groupSubtitle}, #{groupContent}, #{groupCategory}, #{place}, 0, #{memberLimit}, 'U', #{startDate}, #{endDate})
	</insert>
	
	<insert id="insertGroupManage" parameterType="Groups">
		INSERT INTO GROUP_MANAGE
		VALUES(SEQ_GROUPS.CURRVAL, #{leaderNo}, NULL, 'A')
	</insert>
	
	<insert id="insertThumbNail">
		INSERT INTO attachment
		VALUES(SEQ_attachment.nextval, 3,SEQ_GROUPS.currval, #{changeName},sysdate,1, 'Y')
	</insert>
	
	
	
	<resultMap id="groupDtoResultSet" type="GroupDto">
		<id column="USER_NO" property="userNo"/>
		<id column="GROUP_NO" property="groupNo"/>
		<result column="GROUP_TITLE" property="groupTitle"/>
		<result column="GROUP_SUBTITLE" property="groupSubtitle"/>
		<result column="GROUP_CONTENT" property="groupContent"/>
		<result column="GROUP_CATEGORY" property="groupCategory"/>
		<result column="CHANGE_NAME" property="changeName"/>
		<result column="PLACE" property="place"/>
		<result column="GRADE_LIMIT" property="gradeLimit"/>
		<result column="MEMBER_LIMIT" property="memberLimit"/>
		<result column="STATUS" property="status"/>
		<result column="START_DATE" property="startDate"/>
		<result column="END_DATE" property="endDate"/>
	</resultMap>    

	<!-- 소모임 리스트 조회 - 메인메뉴바 -->
	<select id="selectGroupListAll" resultMap="groupDtoResultSet" parameterType="GroupDto">
		SELECT G.*, A.CHANGE_NAME
		  FROM GROUPS G
		  JOIN ATTACHMENT A ON(G.GROUP_NO = A.REF_BNO)
		 WHERE G.STATUS='Y' AND A.GROUP_CATEGORY=3
		 ORDER BY G.START_DATE DESC
	</select>
	
	
	
	<select id="selectGroup" parameterType="_int" resultMap="groupDtoResultSet">
		SELECT G.*, A.CHANGE_NAME
		  FROM GROUPS G
          JOIN ATTACHMENT A ON(G.GROUP_NO = A.REF_BNO)
		 WHERE G.GROUP_NO=#{gno} AND A.GROUP_CATEGORY=3
	</select>





	
	<resultMap type="Dips" id="dipsResultSet">
		<id column="GROUP_NO" property="groupNo"/>
		<result column="USER_NO" property="userNo"/>
	</resultMap>

	<!-- 찜한 소모임 리스트 조회 -->
	<select id="selectDipsList" parameterType="Dips" resultType="_int">
		SELECT COUNT(*)
		  FROM DIPS
		 WHERE USER_NO = #{userNo} AND GROUP_NO = #{groupNo}
	</select>
	
	<!-- 찜한 소모임 리스트 출력용 조회 -->
	<select id="selectDips" parameterType="_int" resultMap="dipsResultSet">
		SELECT *
		  FROM DIPS
		 WHERE USER_NO = #{userNo}
	</select>
	
	<insert id="dipsIn" parameterType="_int">
		INSERT INTO DIPS
		VALUES( #{userNo}, #{groupNo})
	</insert>
	
	<delete id="dipsOut" parameterType="_int">
		DELETE FROM DIPS
		WHERE USER_NO=#{userNo} AND GROUP_NO=#{groupNo}
	</delete>
	
	
	
	
	
	
	<resultMap id="groupManageResultSet" type="GroupManage">
		<id column="GROUP_NO" property="groupNo"/>
		<result column="USER_NO" property="userNo"/>
		<result column="PASSION" property="passion"/>
		<result column="STATUS" property="status"/>
	</resultMap>
	
	<!-- 소모임 방장 회원관리 -->
	<select id="myGroupMember" resultMap="groupManageResultSet">
		SELECT *
		FROM GROUP_MANAGE 
		WHERE GROUP_NO = #{groupNo}
	</select>
	
	<!-- 소모임 가입 신청 -->
	<insert id="groupApply" parameterType="GroupManage">
		INSERT INTO GROUP_MANAGE
		VALUES(#{groupNo}, #{userNo}, #{passion}, 'U')
	</insert>
	
	<!-- 소모임 탈퇴하기 -->
	<update id="groupDropOut" parameterType="_int">
		UPDATE GROUP_MANAGE
		   SET STATUS='N'
		 WHERE GROUP_NO=#{groupNo} AND USER_NO=#{userNo}
	</update>
	
	
	 
	
	
	
	
	<resultMap id="groupNoticeResultSet" type="GroupNotice">
		<id column="GNOTICE_NO" property="gnoticeNo"/>
		<result column="GROUP_NO" property="groupNo"/>
		<result column="GNOTICE_TITLE" property="gnoticeTitle"/>
		<result column="GNOTICE_CONTENT" property="gnoticeContent"/>
		<result column="ENROLL_DATE" property="enrollDate"/>
		<result column="STATUS" property="status"/>
		<result column="LEADER_NO" property="leaderNo"/>
	</resultMap>
	
	<select id="selectGroupNoticeListCount" resultType="_int">
		SELECT COUNT(*)
		FROM GROUP_NOTICE
		WHERE STATUS='Y' AND GROUP_NO=#{gno}
	</select>

	<select id="selectGroupNoticeList" parameterType="_int"  resultMap="groupNoticeResultSet">
		SELECT GN.GNOTICE_NO, GROUP_NO, GN.GNOTICE_TITLE, GN.GNOTICE_CONTENT, GN.ENROLL_DATE, GN.STATUS, G.LEADER_NO
		  FROM GROUP_NOTICE GN
         JOIN GROUPS G USING(GROUP_NO)          
		 WHERE GN.STATUS='Y' AND GROUP_NO=#{gno}
		 ORDER BY GN.GNOTICE_NO DESC
	</select>
	
	<!-- 조회수 증가용 -->
	<update id="increaseGroupNoticeCount" parameterType="_int">
		UPDATE GROUP_NOTICE
		   SET COUNT = COUNT + 1
		 WHERE GNOTICE_NO = #{gnoticeNo} AND STATUS = 'Y'
	</update>

	
	<select id="selectGroupNotice" parameterType="_int" resultMap="groupNoticeResultSet">
		SELECT GN.*, G.LEADER_NO
		  FROM GROUP_NOTICE GN
          JOIN GROUPS G ON(G.GROUP_NO = GN.GROUP_NO)
		 WHERE GN.GNOTICE_NO=#{gnoticeNo}
	</select>
	
	<update id="deleteGroupNotice" parameterType="_int">
		UPDATE GROUP_NOTICE
		   SET STATUS='N'
		 WHERE GNOTICE_NO=#{gnoticeNo}
	</update>
	
 	<!-- 공지사항 등록용 -->
 	<insert id="insertGroupNotice" parameterType="GroupNotice">
	 	INSERT INTO GROUP_NOTICE
	 	VALUES (SEQ_GNOTICE.NEXTVAL,#{groupNo}, #{gnoticeTitle}, #{gnoticeContent}, sysdate, 'Y',0)
 	</insert>
 	
 	<!-- 공지사항 수정용 -->
	<update id="updateGroupNotice" parameterType="GroupNotice">
		UPDATE GROUP_NOTICE
		   SET GNOTICE_TITLE=#{gnoticeTitle},
			   GNOTICE_CONTENT=#{gnoticeContent}
		 WHERE GNOTICE_NO=#{gnoticeNo}
	</update>




	<resultMap id="replyResultSet" type="Reply">
		<id column="REPLY_NO" property="replyNo"/>
		<result column="REPLY_CONTENT" property="replyContent"/>
		<result column="NOTICE_NO" property="noticeNo"/>
		<result column="USER_NO" property="userNo"/>
		<result column="UPLOAD_DATE" property="uploadDate"/>
		<result column="STATUS" property="status"/>
		<result column="USER_NAME" property="userName"/>
	</resultMap>
	
	<select id="selectReplyList" parameterType="_int" resultMap="replyResultSet">
		<!-- SELECT *
		  FROM REPLY
		 WHERE NOTICE_NO=#{noticeNo} AND STATUS='Y'조인해서 userName불러와
		 ORDER BY REPLY_NO DESC
		 
		SELECT R.*, M.USER_NAME
		  FROM REPLY R
          JOIN MEMBER M ON(M.USER_NO = R.USER_NO)
		 WHERE R.NOTICE_NO=#{noticeNo} AND R.STATUS='Y'
		 ORDER BY R.REPLY_NO DESC
		 !-->
		 SELECT R.*, M.USER_NAME
		 FROM REPLY R
		 JOIN MEMBER M ON(M.USER_NO = R.USER_NO)
		 JOIN GROUP_NOTICE G ON(R.NOTICE_NO = G.GNOTICE_NO)
		 WHERE R.NOTICE_NO = #{gnoticeNo}
		 AND R.STATUS='Y'
		 ORDER BY R.REPLY_NO DESC
	</select>
	
	<insert id="insertReply" parameterType="Reply">
		<!-- INSERT INTO REPLY
		VALUES(SEQ_RNO.NEXTVAL, #{replyContent}, #{noticeNo}, #{replyWriter}, sysdate, 'Y')
		-->
		INSERT INTO REPLY
		VALUES(SEQ_REPLY.NEXTVAL, #{replyContent}, #{noticeNo}, #{userNo} , SYSDATE, 'Y')
	</insert>
	
	<!--댓글 신고   -->
	<select id="grReplyReportForm" resultMap="replyResultSet">
		SELECT R.*, M.USER_NAME
		FROM REPLY R
		JOIN MEMBER M ON(M.USER_NO = R.USER_NO)
		WHERE REPLY_NO = #{rno}
	</select>
	
	<!--찜한 목록 카운트  -->
	<select id="selectDipsListCount" parameterType="_int" resultType="_int">
		select count(*)
		from dips where user_no=#{userNo}
	</select>
	<!--찜한목록 리스트 -->
	<select id="selectGroupDipsList" parameterType="_int" resultMap="groupResultSet">
		select group_no,leader_no,group_title,group_subtitle,group_content,g.group_category,place,grade_limit,member_limit,g.status,start_date,end_date,user_no,change_name 
		from groups g 
		join dips using(group_no)
		join attachment a on(ref_bno=group_no)
		where user_no =#{userNo} and g.status='Y'and a.group_category =3
	</select>
	<!--마이페이지 상태별 소모임 리스트 카운트   -->
	<select id="selectGroupStatusListCount" parameterType="GroupDto" resultType="_int">
		select count(*) 
		from group_manage
		<choose>
		<!-- parameterType으로 받음 객체의 필드명만 써주면 아래처럼 자동으로 값이 읽힌다 -->  
			<when test='status == "Y"'>
				where user_no=#{userNo} and (status=#{status} or status = 'A')
			</when>
			<otherwise>			
				where user_no=#{userNo} and status=#{status}
			</otherwise>
		</choose>
	</select>
	<!--마이페이지 상태별 소모임 리스트 조회  -->
	<!-- 소모임 리스트 조회 - 마이페이지 3가지 -->
	<select id="selectMyGroupList" resultMap="groupDtoResultSet" parameterType="GroupDto">
		SELECT gm.group_no,leader_no,group_title,group_subtitle,group_content,g.group_category,place,grade_limit,member_limit,gm.status,start_date,end_date,user_no,change_name 
		FROM GROUP_MANAGE GM
		JOIN GROUPS G ON(G.GROUP_NO = GM.GROUP_NO)
		JOIN ATTACHMENT A ON(G.GROUP_NO = A.REF_BNO)
	    WHERE   USER_NO=#{userNo}
	            AND G.STATUS='Y'
	            <choose>
					<when test='status == "Y"'>
						 AND (GM.STATUS=#{status} or GM.STATUS='A')
					</when>
					<otherwise>			
						 AND GM.STATUS=#{status}
					</otherwise>
				</choose>              
	            AND A.GROUP_CATEGORY=3
		ORDER BY G.START_DATE DESC
	</select>
	
	<select id="selectGroupSearchListCount" parameterType="GroupDto" resultType="_int">
			SELECT count(*)
			FROM GROUPS G
			WHERE G.STATUS='Y' 
			AND G.GROUP_TITLE LIKE '%'||#{groupTitle}||'%' 
			ORDER BY G.START_DATE DESC
	</select>
	
	<select id="selectGroupSearchList" resultMap="groupDtoResultSet" parameterType="GroupDto">
		 SELECT G.*, A.CHANGE_NAME
		  FROM GROUPS G
		  JOIN ATTACHMENT A ON(G.GROUP_NO = A.REF_BNO)
		 WHERE G.STATUS='Y' AND A.GROUP_CATEGORY=3
		 AND G.GROUP_TITLE LIKE '%'||#{groupTitle}||'%' 
		 ORDER BY G.START_DATE DESC
	</select>
	
</mapper>
