<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="reservationMapper">
	<resultMap type="Reservation" id="reservationResultSet">
		<id column="book_no" property="bookNo"/>
	  	<result column="user_no" property="userNo"/>
	  	<result column="category" property="category"/>
	  	<result column="ref_no" property="refNo"/>
	  	<result column="coupon_code" property="couponCode"/>
	  	<result column="total_cost" property="totalCost"/>
	  	<result column="book_enroll_date" property="bookEnrollDate"/>
	  	<result column="status" property="status"/>
	  	<result column="gradediscount" property="gradeDiscount"/>
	  	<result column="used_date" property="usedDate"/>
	  	<result column="start_time" property="startTime"/>
	  	<result column="end_time" property="endTime"/>
	  	<result column="seat_no" property="seatNo"/>
	  	<result column="sstatus" property="seatStatus"/>
	</resultMap>
	
	<resultMap type="Coupon" id="couponResultSet">
		<id column="coupon_code" property="couponCode"/>
	  	<result column="coupon_name" property="couponName"/>
	  	<result column="start_date" property="startDate"/>
	  	<result column="expiration_period" property="expirationPeriod"/>
	  	<result column="discount_rate" property="discountRate"/>
	</resultMap>
	
	<resultMap type="Grade" id="gradeResultSet">
		<id column="grade_code" property="gradeCode"/>
	  	<result column="grade_name" property="gradeName"/>
	  	<result column="standard" property="standard"/>
	  	<result column="discount" property="discount"/>
	</resultMap>
	
	<resultMap type="Seat" id="SeatResultSet">
		<id column="seat_no" property="seatNo"/>
	  	<result column="seat_price" property="seatPrice"/>
	  	<result column="status" property="status"/>
	</resultMap>
	
<!-- 	<select id="seatAllCount" resultType="_int">
		select count(*) 
		from seat
	</select>
	
	<select id="seatUsedCount" resultType="_int">
		<![CDATA[
		select count(*)
		from reservation r
		join reservation_time rt on (rt.used_date = to_char(sysdate, 'YYYY-MM-DD')
		                                and to_char(sysdate, 'HH24') >= substr(start_time, 1, 2)
		                                and to_char(sysdate, 'HH24') < substr(end_time, 1, 2) 
		                                and r.book_no = rt.book_no)
		 ]]>
	</select>
	
	<select id="seatRepairingCount" resultType="_int">
		select count(*)
		from seat where status='N'
	</select> -->
	
	
	<select id="selectSeatStatusList" resultMap="reservationResultSet">
		<![CDATA[
		select s.seat_no,r.ref_no,rt.used_date, rt.start_time, rt.end_time,s.status
		from reservation r
		join reservation_time rt on (rt.used_date = to_char(sysdate, 'YYYY-MM-DD')
		                                and to_char(sysdate, 'HH24') >= substr(start_time, 1, 2)
		                                and to_char(sysdate, 'HH24') < substr(end_time, 1, 2) 
		                                and r.book_no = rt.book_no)
		right join seat s on(r.ref_no = s.seat_no)
		order by s.seat_no
		 ]]>
	</select>
	
	
	<select id="selectCouponList"   parameterType="_int" resultMap="couponResultSet">
		select coupon_code,coupon_name, start_date, expiration_period,discount_rate
		from member_coupon join coupon using(coupon_code) where user_no=#{userNo}
	</select>
	
	<select id="selectGrade" parameterType="_int" resultMap="gradeResultSet">
		select grade_code,grade_Name,standard,discount 
		from member 
		join grade using(grade_code) where user_no = #{userNo}
	</select>
	
	<select id="selectSeat" parameterType="_int" resultMap="SeatResultSet">
		select seat_no, seat_price, status
		from seat 
		where seat_no = #{seat_no}
	</select>
	
	<insert id="insertReservation" parameterType="Reservation">
		insert into reservation
		values(seq_reserveno.nextval, #{userNo}, 1, 
		#{refNo}, #{couponCode}, #{totalCost}, sysdate, 'X', #{gradeDiscount})
	</insert>
	
	<insert id="insertReservationTime" parameterType="Reservation">
		insert into reservation_time
		values(seq_reserveno.currval, #{usedDate}, #{startTime}, #{endTime})
	</insert>
	
	
	<select id="selectSeatReservationTime" parameterType="_int" resultMap="reservationResultSet">
		select *
		from reservation 
		join reservation_time using(book_no)
		where used_date = to_char(sysdate, 'YYYY-MM-DD') and ref_no=#{seatNo}
	</select>
	
	<select id=" rselectListCount" resultType="_int">
		select count(*)
			form space
		where status='Y'
	</select>
	
	<select id="rselectList">
		select *
			form space
		where status='Y'
		order by SPACE_NO desc
	</select>
	
	
	
</mapper>