<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="reservationMapper">
	<resultMap type="Reservation" id="reservationResultSet">
		
	</resultMap>
	
	<select id="seatAllCount" resultType="_int">
		select count(*) 
		from seat
	</select>
	
	<select id="seatUsedCount" resultType="_int">
		
	</select>
	
	<select id="seatUnUsedCount" resultType="_int">
		
	</select>
	
	<select id="seatRepairingCount" resultType="_int">
		
	</select>
	
	
	
	
</mapper>