<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.kh.skycastle.member.model.vo.Member" alias="Member"/>
		<typeAlias type="com.kh.skycastle.groups.model.vo.Groups" alias="Groups"/>
		<typeAlias type="com.kh.skycastle.groups.model.vo.GroupNotice" alias="GroupNotice"/>
		<typeAlias type="com.kh.skycastle.member.model.vo.Grade" alias="Grade"/>		
		<typeAlias type="com.kh.skycastle.cs.model.vo.Notice" alias="Notice"/>
		<typeAlias type="com.kh.skycastle.cs.model.vo.Qna" alias="Qna"/>
		<typeAlias type="com.kh.skycastle.cs.model.vo.Event" alias="Event"/>
		<typeAlias type="com.kh.skycastle.coupon.model.vo.Coupon" alias="Coupon"/>
		<typeAlias type="com.kh.skycastle.reservation.model.vo.Reservation" alias="Reservation"/>
		<typeAlias type="com.kh.skycastle.reservation.model.vo.Seat" alias="Seat"/>
		<typeAlias type="com.kh.skycastle.groups.model.vo.Report" alias="Report"/>
		<typeAlias type="com.kh.skycastle.groups.model.vo.Dips" alias="Dips"/>
		<typeAlias type="com.kh.skycastle.reservation.model.vo.Space" alias="Space"/>
		<typeAlias type="com.kh.skycastle.member.model.dto.GradeDto" alias="GradeDto"/>		
		<typeAlias type="com.kh.skycastle.admin.model.dto.AdReservationDto" alias="AdSales"/>		
	</typeAliases>
	
	<mappers>
		<mapper resource="mappers/member-mapper.xml"/>
		<mapper resource="mappers/groups-mapper.xml"/>
		<mapper resource="mappers/adMember-mapper.xml"/>
		<mapper resource="mappers/adGroups-mapper.xml"/>
		<mapper resource="mappers/adQna-mapper.xml"/>
		<mapper resource="mappers/cs-mapper.xml"/>
		<mapper resource="mappers/reservation-mapper.xml"/>
		<mapper resource="mappers/adBoard-mapper.xml"/>
		<mapper resource="mappers/adSales-mapper.xml"/>
	</mappers>
	
	

</configuration>
